[Unit]
Description=Install the latest Jalea release if it is newer than this one
Documentation=https://github.com/fvasquez/jalea
After=network-online.target rauc.service
Wants=network-online.target
Requires=rauc.service

[Service]
Type=oneshot
ExecStart=/usr/bin/jalea-update
